.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

.env
*.env

db.sqlite3
db.sqlite3-journal

media/
staticfiles/

.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
*.pot

/build/
/dist/
